.d-flex {
	display: flex;
}
.align-items-center {
	align-items: center;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-around {
	justify-content: space-around;
}
.flex-column {
	flex-direction: column;
}
.w-100 {
	width: 100%;
}
.h-100 {
	height: 100%;
}
.d-none {
	display: none
}
.word-wrap-anywhere {
	word-wrap: anywhere;
}